<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>Planthoppers: FLOW Website</title>

<link rev="made"                              href="mailto:anta@mnhn.fr" />

<base href="[% root_url %]" target="_parent" />

<meta http-equiv="Content-Type"               content="text/html; charset=UTF-8" />
<meta name="description"                      content="FLOW: a taxonomic and bibliographical database for planthoppers (Insecta Hemiptera Fulgoromorpha Fulgoroidea) their distribution and biological interactions" />
<meta name="keywords"                         content="FLOW, Fulgoromorpha, planthoppers, Fulgoroidea, Taxonomy, dbtnt" />
<meta name="copyright"                        content="FLOW" />
<meta name="publisher"                        content="FLOW" />
<meta name="google-site-verification"         content="hRYnUapr5kRBc7qIuZ4_WmKgulqneO3AZQsjjWUowUA"  />
<link rel="shortcut icon" type="image/x-icon" href="/flowdocs/wheel/img/minifulgo.png"  />
<link rel="stylesheet"                        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" />
<link rel="icon" type="image/x-icon"          href="/flowdocs/wheel/img/minifulgo.png"  />
<link rel="stylesheet" type="text/css"        href="/flowdocs/flow.css" />
<script type="text/javascript" src="/flowdocs/browserdetect.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
<script type="text/javascript" src="/flowdocs/SearchAutoComplete_utf8.js"></script>
<script type="text/javascript" src="/flowdocs/javascriptFuncs.js"></script>
<script type="text/javascript" src="/flowdocs/search_flow.js"></script>
<script type="text/javascript" src="/flowdocs/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/flowdocs/js/mouseScrolling.js"></script>
<script type="text/javascript" src="/flowdocs/js/jquery.infinitecarousel2_0_2.js"></script>
<script type="text/javascript" src="/explorerdocs/js/json2.js"></script>
<script type="text/javascript" src="/explorerdocs/js/OpenLayers-2.13.1/OpenLayers.js"></script>
<script type="text/javascript" src="/explorerdocs/js/compositeMaps.js"></script>
<script type="text/javascript" src="/explorerdocs/js/cs_script.js"></script>
<script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=UA-21288992-1"></script>
<script type="text/javascript">

  // Google analytics
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-21288992-1');


  // search form
  function clear_search_except(from, identity) {
    var identities = new Array('auteurs','pays','noms_complets');
    var valeur;
    for (index in identities) {
      if (document.getElementById(identities[index]).value) { valeur = document.getElementById(identities[index]).value; }
      if (identities[index] != identity) {
        document.getElementById(identities[index]).style.visibility = 'hidden';
      }
      else {
        document.getElementById(identities[index]).style.visibility = 'visible';
      }
      document.getElementById(identities[index]).value = 'Search';
    }
    if (from == 'popup') {
      if (valeur) {
        document.getElementById(identity).value = valeur;
        document.getElementById(identity).focus();
      }
    }
  }

  // bulles associées aux icônes en haut de page
  function makeBulle (myelem, myid) {
    var bulle = document.getElementById(myid);
    var pos = findPosII(myelem);
    bulle.style.left = pos[0] + 30 + 'px';
    bulle.style.top = pos[1] - 9 + 'px';
    bulle.style.display = 'block';
  }
  function findPosII(obj) {
    var curleft = curtop = 0;
    var strleft = strtop = '';
    if (obj.offsetParent) {
       do {
         if (obj.tagName != 'TABLE') { curleft += obj.offsetLeft; }
         curtop += obj.offsetTop;
         strleft += obj.tagName + ':' + obj.offsetLeft + '<br>';
         strtop += obj.tagName + ':' + obj.offsetTop + '<br>';
       } while (obj = obj.offsetParent);
    }
    return [curleft,curtop,strleft,strtop];
  }


  // click handler pour les icônes de changement de langage
  function lang_click_handler(lang) {
    document.searchform.action = '[% uri = c.new_uri(lang => []);
                                     GET uri;
                                     GET uri.match('\?') ? '&' : '?' %]lang='+lang;
    document.getElementById('searchpop').value = '[% searchtable %]';
    document.getElementsByName('searchid')[0].value = '[% c.param('searchid') %]';
    document.getElementById('[% searchtable %]').value = '[% c.param('search') %]';
    document.searchform.submit();
  }
</script>
</head>

<body onload="[%
    "clear_search_except('onload', 'noms_complets');";
    "Autocomplete_Create('noms_complets', noms_complets, 'noms_completsids', authors, 10);";
    "AutoComplete_Create('auteurs', auteurs, auteursids, '', 10);";
    "AutoComplete_Create('pays', pays, paysids, '', 10);";
    "if (isIE) {document.getElementById('searchpop').style.height = '20px';}";  %]">

<div id='main_container'>
  <table id='iconsSearchbar'>
    <tr>
      <td id="logoCell" rowspan=2>
        <a href="[% c.new_uri(page => 'home') %]" style="text-decoration: none;">
          <img alt="FLOW" height="46px" src="/flowdocs/logoFLOW.png" style="border: 0;" />
        </a>
      </td>
      <td rowspan=2>
	<table>
          <tr>
            <td colspan=2 style='height: 16px; font-size: 11px; vertical-align:text-top;'>
              [% traduc('followFLOW') %] FLOW:
            </td>
          </tr>
	  <tr>
            <td>
              <a href="https://twitter.com/FLOWwebsite" target="_blank">
                <img alt="Twitter" height="20px" src="/flowdocs/twiter.png" />
              </a>
            </td>
            <td>
              <a href="https://www.facebook.com/FLOWwebsite" target="_blank">
                <img alt="Facebook" height="20px" src="/flowdocs/facebook.png" />
              </a>
            </td>
          </tr>
        </table>
      </td>
      <td class='iconsCell'>
        [% PROCESS display_icon FOREACH icon IN icon_descriptions; %]
      </td>
      <td>
        [% PROCESS display_icon FOREACH icon IN icon2_descriptions; %]
      </td>
      <td id='flagsCell'>
       	<div id="flagsDiv">
          [% PROCESS display_lang_flag FOREACH lang IN lang_descriptions; %]

          [%# icône de triangle pour pulldown des drapeaux des pays %]
          <div style="text-align: center"
               onmouseover="this.style.cursor = 'pointer'; magicFlags('reactiveFlags', 'onMouseOver', '[% xlang %]')"
               onmouseout="magicFlags('reactiveFlags', 'onMouseOut', '[% xlang %]')">
             <img src="/flowdocs/triangle.png" />
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td id='searchCell' colspan=2>
	<table>
          <tr>
            <td id='searchPill'>
              <form name="searchform" method="post" enctype="multipart/form-data" class="searchForm"
                    action="[% c.new_uri(page => 'explorer', card => 'searching') %]">
                <table cellpadding="0" cellspacing="0" id="searchTable">
                  <tr>
                    <td style="height: 24px; margin: 0; padding-left: 6px; vertical-align: middle;">
                      <a href="[% c.new_uri(reload => 1) %]" style="text-decoration: none;">
                        <img src="/flowdocs/wheel/img/reload.png" alt="reload" border="0" width="20" />
                      </a>
                    </td>
                    <td style="height: 24px; padding-left: 4px; vertical-align: middle;"></td>
                    <td style="height: 24px; margin: 0; padding: 0; vertical-align: middle;">
                      <select name="searchtable"  class="searchPopup" id="searchpop" 
                              onchange="clear_search_except('popup', this.value)">
                        [% FOREACH st IN search_types %]
                          <option class="searchOption" value="[% st.id %]"[% " selected" IF st.id == searchtable %]>
                            [%~ st.name ~%]
                          </option>
                        [% END; # FOREACH st IN search_types %]
                      </select>
                    </td>

                    <td style="width: 180px; height: 24px; margin: 0; padding: 0; vertical-align: top;">
                      <span style="position: absolute; margin: 0; padding: 0;">
                        [% FOREACH st IN search_types %]
                        <input type="text" name="search[% loop.count %]"  class="searchField" id="[% st.id %]"
                               onblur="if(!this.value) { this.value = '[% traduc('search') %]' }"
                               onfocus="if(this.value != '[% traduc('search') %]'){AutoComplete_ShowDropdown(this.getAttribute('id'))} else {this.value=''}"
                               style="z-index: [% loop.count %]" />
                        [% END; # FOREACH st IN search_types %]
                      </span>
                    </td>
                  </tr>
                </table>
                <input type="hidden" name="searchid" value=""  />
              </form>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <br />

  

  [%~ TRY;   PROCESS "page/${xpage}.tt2";
      CATCH; PROCESS "page/default.tt2";
      END; ~%]

  
  <div class="card" style="background: #DDDDDD; margin-left: 10px;">
    <table style="width: 100%; /*table-layout: fixed;*/ font-size: 12px; line-height: 10px;">
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        [% FOREACH col IN bottom_cols %]
        <td style="vertical-align: top;">
          <ul style="text-align: left[% "; margin-left: 15px" IF loop.first %]">
            <li style="padding-bottom: 3px;"><b>[% col.title %]</b></li>
            [% FOREACH link IN col.links %]
            <li><a href="[% link.href %]" style="text-decoration: none"[% link.target %]>[% link.txt.ucfirst %]</a></li>
            [% END; # FOREACH link IN col.links %]
          </ul>
        </td>
        [% END; # FOREACH col IN bottom_cols %]
      </tr>
      <tr><td>&nbsp;</td></tr>
    </table>
  </div>

</div>
</body>
</html>




[%~ BLOCK display_icon;
    traduc_entry = icon.traduc || icon.name;
    txt_traduc   = traduc(traduc_entry) || traduc_entry  ~%]
<div class="info" id="[% icon.name %]" style="position: absolute; z-index: 10; display: none;">
  [%~ txt_traduc.ucfirst ~%]
</div>
<a href="[% icon.href %]"
   onmouseout="document.getElementById('[% icon.name %]').style.display = 'none';"
   onmouseover="makeBulle(this, '[% icon.name %]');"
   style="text-decoration: none;">
  <img alt="[% icon.alt %]" class="icon1" src="/flowdocs/wheel/img/[% icon.img %]">
</a>
[%~ END; # BLOCK display_icon ~%]


[%~ BLOCK display_lang_flag ~%]
  <span class="reactiveFlags" id="[% lang.id %]" style="display: [% lang.display %]"
        onmouseover="this.style.cursor = 'pointer'; magicFlags('reactiveFlags', 'onMouseOver', '[% xlang %]');"
        onmouseout="magicFlags('reactiveFlags', 'onMouseOut', '[% xlang %]');"
        onclick="lang_click_handler('[% lang.id %]')"
        >
     <img alt="[% lang.name %]" border="0" src="/flowdocs/[% lang.img %]" width="22" />
  </span>
[%~ END; # BLOCK display_lang_flag ~%]




  


